
workshopicon
{
	width: 204px;
	height: 52px;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
workshopicon:active{
	outline: 2px solid gray;
	background: #000;
}

workshopicon preview
{
	position: absolute;
	left: 50%;
	top: 50%;
}

workshopicon disabled
{
	opacity: 0;

	display: block;
	width: 100%;
	height: 100%;
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
}

workshopicon.disabled disabled
{
	opacity: 0.5;
}

workshopicon controls
{
	z-index: 10;
	bottom: -32px;
	-webkit-transition: bottom 100ms ease-in 0ms;
}

workshopicon:hover controls
{
	opacity: 1;
	bottom: 0px;
	-webkit-transition: bottom 100ms ease-in 200ms;
}

workshopicon name label
{

	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}
workshopicon name.subscription label
{
	right: 24px;
}
workshopicon.floating name label
{
	right: 2px;
}

workshopicon author, workshopicon votes, workshopicon size
{
	position: absolute;
	bottom: 0px;
	right: 0px;
	text-align: right;
	font-size: 11px;
	font-weight: bold;
	z-index: 10;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: "Arial";
	color: #333;
	border-radius: 4px 0 0 0;
	padding: 3px 6px;

}
workshopicon size
{
	top: 22px;
	bottom: auto;
	border-radius: 0 0 0 4px;
}

workshopicon author, workshopicon size
{
	right: 0px;
	-webkit-transition: right 100ms ease-out 200ms;
}

workshopicon:hover author, workshopicon:hover size
{
	right: -200px;
	-webkit-transition: right 100ms ease-in 0ms;
}

workshopicon votes
{
	left: 0px;
	color: #4a4;
	-webkit-transition: left 100ms ease-out 200ms;
}

workshopicon votes.negative
{
	color: #a44;
}

workshopicon:hover votes
{
	left: -200px;
	-webkit-transition: left 100ms ease-in 0ms;
}

workshopicon votes
{
	bottom: 0px;
	right: inherit;
	border-radius: 0 4px 0 0;
}

workshopicon .checkbox
{
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0;
	z-index: 32;
	height: 19px;
	width: 19px;
}

workshopicon:hover description
{
	display: inherit;

	-webkit-transition: opacity 50ms ease-in 0ms;
}

workshopmessage
{
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
	display: block;
	margin: 64px;
	transform: rotate(90deg);
}

workshopcontainer
{
	width: 204px;
	background-color: #00000055;
	height: 100%;
}

controls
{
	margin: 6px 5px;
	overflow: display;
}

controls control
{
	font-size: 11px;
	display: inline-block;
	padding: 2px 4px;
	border-radius: 2px;
	cursor: pointer;
	height: 15px;
	-webkit-box-shadow: 1px 1px 2px black;
	position: relative;
}

controls control IMG
{
	padding-top: 3px;
}

controls control:hover
{
	background-color: white;
}

.ugc_settings
{
	width: 496px;
	height: 332px;

	padding: 10px;
	position: fixed;
	left: 228px;
	bottom: 128px;
	background: url("../img/minecraft/addonsettings.png") no-repeat;
	background-size: cover;

	box-sizing: border-box;
	display: flex;

	visibility: hidden;
}
.ugc_settings.active
{
	visibility: visible;
}

.ugc_settings span
{
	display: block;
	font-weight: bold;
}
.ugc_settings label
{
	position: relative;
	top: -2px;
}

.ugc_settings a
{
	font-weight: bold;
	color: #000;
	padding: 4px 15px;
	background: #ddd;
	display: block;
	margin-top: 2px;
	text-align: center;
	border-radius: 4px;
	cursor: default;
	min-width: 140px;
}
.ugc_settings a:hover
{
	background: #ccc;
}

.ugc_settings_cat
{
	vertical-align: top;
	display: inline-block;
	padding: 0px 1%;
	margin: 0 auto;
}

.create_preset
{
	min-width: 350px;
}

.preset_content
{
	min-width: 500px;
	margin-bottom: 5px;
}
.preset_list
{
	background: #eee;
	width: 150px;
	display: inline-block;
	max-height: 400px;
	min-height: 230px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.preset_list font
{
	display: block;
	padding: 5px;
	cursor: default;
}
.preset_list font:hover
{
	background: #ddd;
}
.preset_list font.active
{
	background: #ccc;
}
.preset_data
{
	width: 345px;
	padding-left: 5px;
	display: inline-block;
	vertical-align: top;
	cursor: default;
}

pagination
{
	background-color: #fff;
	border-radius: 4px;
	margin: 0 auto;
	padding: 4px 4px;
	/*white-space: nowrap;*/
	max-width: 500px;
	z-index: 64; /* Ensure it is above other elements in case something goes wrong */
}

@media screen and (max-width: 840px)
{
	pagination
	{
		margin: 0;
		margin-right: 48px;
	}
}

pagination .back, pagination .next
{
	display: block;
	float: left;
	background: transparent url('../img/arrow_left.png') no-repeat;
	width: 48px;
	height: 36px;
	background-color: #2387ed;
	border-radius: 3px;
	background-position: center center;
}

pagination .next
{
	float: right;
	background-image: url('../img/arrow_right.png');
}

pagination .pages
{
	overflow: hidden;
	margin-top: 6px;
}

pagination span.pagenum
{
	font-size: 14px;
}
pagination a.page
{
	opacity: 0.5;
}
pagination a.page.active
{
	opacity: 1;
}

