<div class="page" ng-controller="ControllerMain" style="background: none">

	<div class="options" ng-show="!InGame">
		<div class="title">
			<div class="splashcontainer">
				<p class="titlesplash">Error!</p>
			</div>
			<img class="titleimage" src='img/minecraft/mc-logotitle.png' />
		</div>
		<table style="margin: 170px 0 0 -46px;flex-direction: row;width: 496px;">
			<thead style="margin-right: 6px; margin-top: 171px;">
				<tr>
					<td class="mc-button" style="width: 40px;"><a ng-href="#/saves/"></a></td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="mc-button" style="width: 400px;"><a ng-href="#/newgame/"><p ng-Tranny="'new_game'"></p></a></td>
				</tr>
				<tr>
					<td class="mc-button" style="width: 400px;"><a ng-href="#/servers/"><p ng-Tranny="'find_mp_game'"></p></a></td>
				</tr>
				<tr>
					<td class="mc-button" style="width: 196px; margin-left: 0"><a ng-href="#/addons/"><p ng-Tranny="'addons'"></p></a></td>
					<td class="mc-button" style="width: 196px; margin-right: 0"><a ng-href="#/dupes/"><p ng-Tranny="'dupes'"></p></a></td>
				
				</tr>
				<tr class="optionquitmenu">
					<td class="mc-button" style="width: 196px; margin-left: 0"><a ng-click="MenuOption( this, 'OpenOptionsDialog')"><p ng-Tranny="'options'"></p></a></td>
					<td class="mc-button" style="width: 196px; margin-right: 0;"><a ng-click="MenuOption( this, 'Quit')"><p ng-Tranny="'quit'"></p></a></td>
				</tr>
				<tr>
					<td class="mc-button" style="width: 196px; margin-top: 15px;" ng-click="ToggleProblems()">
						<span ng-Tranny="'problems'"></span>
						<number class="{{IfElse( ProblemSeverity > 0, 'severity' + ProblemSeverity, '' )}}">{{ProblemCount}}</number>
					</td>
				</tr>
			</tbody>
			<thead style="margin-left: 6px; margin-top: 171px;">
				<tr>
					<td class="mc-button" style="width: 40px;"><a ng-href="#/demos/"></a></td>
				</tr>
			</thead>
		</table>

	</div>

	<div class="ingamemenu" ng-show="InGame">
		<table style="flex-direction: column;width: 408px;">
			<thead style="margin-top: 70px;text-align: center;">
				<tr><td><p class="ingametitle">Menu</p></td></tr>
			</thead>
			<tbody style="margin-top: 140px;">
				<tr>
					<td><div class="mc-button" style="width: 408px;"><a ng-click="BackToGame()" ng-Tranny="'resume_game'"></a></div></td>
				</tr>
				<tr>
					<td><div class="mc-button" style="width: 196px;"><a ng-href="#/addons/" ng-Tranny="'addons'"></a></div></td>
					<td><div class="mc-button" style="width: 196px;margin-left: 8px;"><a ng-href="#/dupes/" ng-Tranny="'dupes'"></a></div></td>
				</tr>
				<tr>
					<td><div class="mc-button" style="width: 196px;"><a ng-href="#/saves/" ng-Tranny="'saves'"></a></div></td>
					<td><div class="mc-button" style="width: 196px;margin-left: 8px;"><a ng-href="#/demos/" ng-Tranny="'demos'"></a></div></td>
				</tr>
				<tr>
					<td><div class="mc-button" style="width: 196px;"><a ng-click="MenuOption( this, 'OpenOptionsDialog')" ng-Tranny="'options'"></a></div></td>
					<td><div class="mc-button" style="width: 196px;margin-left: 8px;"></div></td>
				</tr>
				<tr>
					<td><div class="mc-button" style="width: 408px;"><a ng-click="MenuOption( this, 'engine disconnect');" ng-Tranny="'disconnect'"></a></div></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="news" ng-hide="NewsList.length == 0" ng-show="!InGame">
		<div class="news_item" style="{{NewsItemBackground( CurrentNewsItem.HeaderImage )}}" ng-hide="HideNews">
			<div>
				<span ng-click="OpenInSteam( CurrentNewsItem.Url )">{{CurrentNewsItem.Title}}</span>
				<font>{{CurrentNewsItem.SummaryHtml}}</font>
			</div>
		</div>
		<div class='news_buttons'>
			<div ng-click="ToggleNewsList()" ng-hide="HideNews || AnyNewNewsItems"><img src="../materials/icon16/cross.png"></div>
			<div class="{{IfElse( NewsItem.Url == CurrentNewsItem.Url, 'selected', '' )}} {{NewsItemClass( NewsItem )}}" ng-repeat="NewsItem in NewsList | orderBy: 'Date'" ng-click="SelectItem(NewsItem)"></div>
		</div>
	</div>

</div>