<div class="page" id="settings" ng-controller="ControllerSettings">
    <div class="wrapper">
        <p style="margin-top: 30px;">Options</p>
        <div class="menus">
            <div style="display: flex; flex-direction: row; justify-content: space-between;">
                <p id="fovValue" class="scrollText">FOV: {{fov}}</p>
                <input type="range" min="60" max="120" ng-model="fov" ng-change="fovScrollChange()">
                <div class="mc-button" style="min-width: 300px;">
                    <a ng-href="#/settings/online/"><p>Online...</p></a>
                </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 66px;">
                <div class="leftButtons">
                    <div class="mc-button" style="min-width: 300px; " click="MenuOption( this, 'OpenOptionsDialog')">
                        <p>Obsolete settings</p>
                    </div>
                    <div class="mc-button" style="min-width: 300px;">
                        <a ng-href="#/settings/graphics/"><p>Video Settings...</p></a>
                    </div>
                    <div class="mc-button" style="min-width: 300px;">
                        <a ng-href="#/settings/language/"><p>Language...</p></a>
                    </div>
                    <div class="mc-button" style="min-width: 300px;">
                        <a ng-href="#/settings/resourcepacks/"><p>Resource Packs...</p></a>
                    </div>
                    <div class="mc-button" style="min-width: 300px;">
                        <a ng-href="#/settings/telemetry/"><p>Telemetry Data</p></a>
                    </div>
                </div>
                <div class="rightButtons">
                    <div class="mc-button" style="min-width: 300px;">
                        <a ng-href="#/settings/music/"><p>Music & Sounds</p></a>
                    </div>
                    <div class="mc-button" style="min-width: 300px;">
                        <a ng-href="#/settings/controls/"><p>Controls...</p></a>
                    </div>
                    <div class="mc-button" style="min-width: 300px;">
                        <a ng-href="#/settings/chat/"><p>Chat Settings...</p></a>
                    </div>
                    <div class="mc-button" style="min-width: 300px;">
                        <a ng-href="#/settings/access/"><p>Accessibility Settings...</p></a>
                    </div>
                </div>
            </div>
            <div style="width: 100%;display: flex;flex-direction: row;justify-content:center;margin-top: 11px;">
                <div class="mc-button" style="width: 396px;"><a ng-href="#/"><p>Done</p></a></div>
            </div>
        </div>
    </div>
</div>