#addonlist{
	margin: 12px;
	height: 100vh;
}

.addondescription{
	width: inherit;
	height: 100%;
	margin: 12px 12px 12px 0px;
	display: flex;
	flex-direction: column;
}
.addoninfo{
	width: 100%;
	height: inherit;
	background-color: #00000055;
	padding: 0 16px;
}
.addoninfo_tools{
	display: flex;
	width: 100%;
	min-height: 40px;
	margin-top: -75px;
}
.addoninfo_tools div{
	display: flex;
}
.addoninfo_tools_center{
	width: inherit; 
	display: flex; 
}
.addoninfo_tools_center div{
	margin: 0 auto
}
.addontools{
	min-height: 52px;
	width: 100%;
	margin-bottom: 24px;
	display: flex;
	align-items: end;
}
.addontools div{
	margin: 0 auto;
}
#addon_icon{
	height: 256px;
	width: 256px;
}

.addontabmenu{
	min-height: 162px; 
	display: flex; 
	flex-direction: column;
	margin-bottom: 23px;
}