/* ================================================================================ */
/* ================================= In-game menu ================================= */
/* ====================== Bunch of classes for in-game menu ======================= */
/* ================================================================================ */

.ingamemenu{
    position: absolute;
    background-color: #000000aa;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.ingametitle{
    width: 100vw;
}
