#settings{
    background-image: url("../../img/minecraft/options_background.png");
    width: 100%;
    height: 100%;
}

.wrapper{
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    backdrop-filter: brightness(0.3);
}

.menus{
    width: 620px;
    height: 300px;
    margin-top: 6%;
}

.leftButtons{
    width: 50%;
    height: 100%;
}
.leftButtons *{
    margin-bottom: 8px;
}

.rightButtons{
    width: 50%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.rightButtons *{
    margin-bottom: 8px;
}

.topMenu{
    z-index: 1;
    width: 100%;
    min-height: 64px;
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: end;
    border: 2px solid #000;
	/*backdrop-filter: brightness(25%);*/
}

.middleMenu{
    height: inherit;
    width: 100%;
	backdrop-filter: brightness(66%);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    align-items:start;
    justify-content: center;
}
.middleMenu table tbody tr td div:last-child{
    margin-left: 20px;
}
.middleMenu table tbody tr td input:last-child{
    margin-left: 20px;
}

.bottomMenu{
    z-index: 1;
	/*backdrop-filter: brightness(25%);*/
    min-height: 64px;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: center;
}