<html>
<head>

	<title>Garry's Mod Main Menu</title>

	<link rel="stylesheet" type="text/css" href="css/minecraft/splashanimation.css" />
	<link rel="stylesheet" type="text/css" href="css/menu/Menu.css" />
	<link rel="stylesheet" type="text/css" href="css/menu/NavBar.css" />
	<link rel="stylesheet" type="text/css" href="css/menu/PageOptions.css" />
	<link rel="stylesheet" type="text/css" href="css/menu/NewGame.css" />
	<link rel="stylesheet" type="text/css" href="css/menu/Servers.css" />
	<link rel="stylesheet" type="text/css" href="css/Workshop.css" />

	<script type="text/javascript" src="js/lua.js"></script>

	<script type="text/javascript" src="js/thirdparty/jquery.js"></script>
	<script type="text/javascript" src="js/thirdparty/jquery-color.js"></script>
	<script type="text/javascript" src="js/thirdparty/angular.js"></script>
	<script type="text/javascript" src="js/thirdparty/angular-ui.js"></script>

	<script type="text/javascript" src="js/menu/WorkshopFiles.js"></script>
	<script type="text/javascript" src="js/menu/Subscriptions.js"></script>
	<script type="text/javascript" src="js/menu/menuApp.js?2"></script>
	<script type="text/javascript" src="js/menu/control.Menu.js?2"></script>
	<script type="text/javascript" src="js/menu/control.Main.js?2"></script>
	<script type="text/javascript" src="js/menu/control.NewGame.js"></script>
	<script type="text/javascript" src="js/menu/control.Servers.js"></script>
	<script type="text/javascript" src="js/menu/control.Addons.js"></script>
	<script type="text/javascript" src="js/menu/control.Demos.js"></script>
	<script type="text/javascript" src="js/menu/control.Saves.js"></script>
	<script type="text/javascript" src="js/menu/control.Dupes.js"></script>

	<script type="text/javascript" src="js/svc.Tranny.js"></script>

	<script type="text/javascript" src="js/menu/TestData.js"></script>
	<script type="text/javascript" src="js/menu/TestServers.js"></script>
	<script type="text/javascript" src="js/menu/TestWorkshop.js"></script>
	<script type="text/javascript" src="js/minecraft/splash.js"></script>

</head>

<body ng-app="MenuApp" ng-controller="MenuController">
	
	<!--
		external BEGINS
	-->
	
	<div class="page" id="newmapmenu" ng-controller="ControllerNewGame">
	
		<div class="gamerulesmenu" style="display: none;">
			
		</div>
		<div class="worldcreationmenu" style="display: none;">
			<div class="container">
				<table class="buttonscontainer" style="flex-direction: column; width: 620px;margin: 0;">
					<thead>
						<tr style="margin: 38px 0 0 0;"><th><p style="margin: 0 auto;">Create New World</p></th></tr>
						<tr style="flex-direction: column;margin: 16px 0 0 0;">
							<th style="height: 26px;"><p style="color: #a0a0a0;">World Name</p></th>
							<th><input type="text" class="search" disabled></th>
							<th style="height: 0;margin-top: 10px;"><p style="color: #a0a0a0;">Will be saved in: garrysmod/maps/{{map}}</p></th>
						</tr>
					</thead>
					<tbody>
						<tr style="margin-top: 32px">
							<th class="mc-button" style="width: 300px;"><p>Game Mode: Sandbox</p></th>
							<th style="position: absolute;margin: 42px 0 0 10px;text-align: left;"><p style="color: #a0a0a0;">Build buildings, kill NPCs, DM with firends, spam props and do fun stuff!</p></th>
							<th class="buttonblank"></td>
							<th class="mc-button" style="width: 300px;" ng-click="changeplayerscount()"><p id="playerscount">Player Count: Singleplayer</p></td>
						</tr>
						<tr style="margin-top: 62px">
							<th class="mc-button" style="width: 300px;" ng-click="changesvcheats()"><p id="svcheats">Allow Cheats: OFF</p></td>
							<th style="position: absolute;margin: 40px 0 0 10px;text-align: left;"><p style="color: #a0a0a0;">sv_cheats 0 or 1</p></th>
							<th class="buttonblank"></td>
							<th class="mc-button" style="width: 300px;"><p>Data Packs</p></td>
						</tr>
						<tr style="margin-top: 32px">
	
							<th class="mc-button" style="width: 300px;"><p>Game Rules</p></td>
							<th class="buttonblank"></td>
							<th class="mc-button" style="width: 300px;"><p>More World Options...</p></td>
						</tr>
					</tbody>
					<tbody style="position: absolute; bottom: 0;margin-bottom: 16px;">
						<tr>
							<th class="mc-button" style="width: 300px;"><p>Create New World</p></td>
							<th class="buttonblank"></td>
							<th class="mc-button" style="width: 300px;" onclick="$('.worldcreationmenu').hide()"><p>Cancel</p></td>
					</tbody>
				</table>
			</div>
		</div>
		<div class="gamesettingsmenu" style="display: none;">
			<div class="container">
				<table class="worldnamebox">
				<tbody>
						<td><p style="color: white;">Edit World</p></td>
						<td style="margin: 0;"><p>World Name</p></td>
						<td><input type="text" class="search" ng-tranny="'{{map}}'" disabled /></td>
					</tr>
				</tbody>
				</table>
				<table class="buttonscontainer">
				<tbody style="margin: 0 auto;">
					<tr style="flex-direction: column; height: unset;">
						<td id="changecategory" class="mc-button" style="width: 396px;" ng-click="SwitchCategory(category.category)">
							<ul id="listofcategories">
								<li class="noisy category {{IfElse( category.category == CurrentCategory, 'active', '' )}}" ng-repeat="category in MapList | orderBy:'order'" ng-hide="CountFiltered(category.maps) == 0">
									<div class='name'>{{category.category}}</div>
								</li>
							</ul>
						</td>
						<td id="changecategory" class="mc-button" style="width: 396px;">
							<ul id="listofcategories">
								<li ng-repeat="ply in Players" ng-click="UpdateMaxPlayers( ply )" ng-tranny="ply.label">
									{{ply.label}}
								</li>
							</ul>
						</td>
						<td class="mc-button" style="width: 396px;">
							<p ng-Tranny="'lan_server'"></p>
						</td>
						<td class="mc-button" style="width: 396px;">
							<p ng-Tranny="'p2p_server'"></p>
						</td>
						<td class="mc-button" style="width: 396px;">
							<p ng-Tranny="'p2p_server_friendsonly'"></p>
						</td>
						<td class="mc-button" style="width: 396px;">
							<p>Export World Generation Settings</p>
						</td>
						<td style="flex-direction: row;">
							<div class="mc-button" onclick="$('.gamesettingsmenu').hide()" style="width: 194px;">
								<p>Save</p>
							</div>
							<div class="mc-button" onclick="$('.gamesettingsmenu').hide()" style="width: 194px; margin-left: 8px;">
								<a>Cancel</a>
							</div>
						</td>
					</tr>
				</tbody>
				</table>
			</div>
		</div>
		<div class="maplist icons">
	
			<!--
				//
				// Upper block
				//
			-->
			<div class="controls">
	
				
				<div class="maplist-title">
					<p>Select Map</p>
				</div>
	
				<div class='search'>
					<input type="text" class="search" ng-model="SearchText" autofocus />
				</div>
			</div>
			<!--
				//
				// Main block
				//
			-->
			<div class="scrollable">
	
				<ul class="category" ng-repeat="category in MapList | orderBy:'order'" ng-hide="category.maps.length == 0">
	
					<li>{{category.category}}</li>
	
					<li ng-click="ClickMap( map )" class="icon mapicon {{MapClass( map )}}" ng-repeat="map in category.maps | orderBy:'toString()' | mapFilter:SearchText" >
						<img ng-click="ClickMap( map )" ng-src="{{MapIcon( map, category.category )}}" class="thumbnail" /><br />
						<span>{{map}}</span>
						<img ng-click="FavMap( map )" class="{{FavMapClass( map )}} {{FavMapHover( map )}}" src="img/empty.png" />
					</li>
	
				</ul>
	
			</div>
			
			<!--
				//
				// Footer block
				//
			-->
			<div class="gamesettings">
				<table style="margin: 16 auto;width: fit-content;flex-direction: row;">
					<tbody style="margin: 0;">
						<tr>
							<th class="mc-button" ng-Tranny="'start_game'" ng-click="StartGame()" style="width: 300px">
								<p>Play Selected World</p>
							</th>
						</tr>
						<td onclick="$('.gamesettingsmenu').show()" class="mc-button" style="width: 144px">
							<p>Edit</p>
						</td>
						<td class="mc-button" style="width: 144px; margin-left: 8px;">
							<p>Delete</p>
						</td>
					</tr>
					</tbody>
					<tbody style="margin-left: 16px;">
						<tr>
							<th onclick="$('.worldcreationmenu').show()" class="mc-button" style="width: 300px">
								<p>Create New World</p>
							</th>
						</tr>
						<tr>
							<td class="mc-button" style="width: 144px">
								<p>Re-Create</p>
							</td>
							<td class="mc-button" style="width: 144px; margin-left: 8px;">
								<a ng-href="#/">Cancel</a>
							</td>
						</tr>
	
					</tbody>
				</table>
			</div>
			<gamesettings style="display: none;">
	
			<div class="dropdown" style="margin: 10px;">
	
				<div class="label" onclick="$(this).siblings('.contents').toggle()">
					<span ng-tranny="MaxPlayersOption.label">{{MaxPlayersOption.label}}</span>
					<i class='caret'></i>
				</div>
				<div class="contents" onclick="$(this).hide()">
					<div ng-repeat="ply in Players" ng-click="UpdateMaxPlayers( ply )" ng-tranny="ply.label">
					{{ply.label}}
					</div>
				</div>
			</div>
	
			<div class="scrollable" style="margin: 10px; bottom: 80px; top: 32px">
	
				<div class='control' ng-show="MaxPlayers > 1">
					<label ng-Tranny="'server_name'"></label>
					<input type="text" ng-model="ServerSettings.hostname" />
				</div>
	
				<div class='control' ng-show="MaxPlayers > 1">
					<input type="checkbox" ng-model="ServerSettings.sv_lan" ng-bind="CheckboxCheck()" />
					<label ng-Tranny="'lan_server'"></label>
				</div>
	
				<div class='control' ng-show="MaxPlayers > 1">
					<input type="checkbox" ng-model="ServerSettings.p2p_enabled" ng-bind="CheckboxCheck()" />
					<label ng-Tranny="'p2p_server'"></label>
				</div>
	
				<div class='control' ng-show="MaxPlayers > 1">
					<input type="checkbox" ng-model="ServerSettings.p2p_friendsonly" id="p2p_friendsonly" />
					<label ng-Tranny="'p2p_server_friendsonly'"></label>
				</div>
	
				<div class='control control-text' ng-repeat="s in ServerSettings.Text" ng-show="MaxPlayers > 1 || s.Singleplayer">
					<label ng-Tranny="s.text"></label>
					<input type="text" ng-model="s.Value"/>
				</div>
	
				<div class='control control-numeric' ng-repeat="s in ServerSettings.Numeric" ng-show="MaxPlayers > 1 || s.Singleplayer">
					<label ng-Tranny="s.text"></label>
					<input type="text" ng-model="s.Value"/>
				</div>
	
				<div class='control' ng-repeat="s in ServerSettings.CheckBox" ng-show="MaxPlayers > 1 || s.Singleplayer">
					<input type="checkbox" ng-model="s.Value" />
					<label ng-Tranny="s.text"></label>
				</div>
	
			</div>
	
	
		<bottom>
			<button class='btn-primary' ng-Tranny="'start_game'" ng-click="StartGame()">...</button>
		</bottom>
	
			</gamesettings>
	
		</div>
	
	
	</div>
	
	<!--
		external ENDS
	-->


<div id="version" ng-click="ShowNews()" ng-show="Branch"><span ng-show="Branch != 'unknown'">You are on the {{Branch}} branch. Click here to find out more. ( </span>{{Version}}<span ng-show="Branch != 'unknown'"> )</span></div>

<div ng-view>

</div>

<div id="NavBar">

	<div class="left" ng-show="ShowBack">

		<a href="#/" class="button ui_sound_return" style="z-index: 64665"><img src='img/back_to_main_menu.png'><span ng-Tranny="'back_to_main_menu'" ></span></a>

	</div>

	<ul class="right">
		<li class="bigicon" ng-click="ToggleGamemodes()"><img ng-src='../gamemodes/{{Gamemode}}/icon24.png'><span>{{GamemodeTitle}}</span></li>
		<li class="smallicon" ng-click="ToggleLanguage()"><img style="margin-top: 9px;" ng-src='../resource/localization/{{Language}}.png'><span></span></li>
		<li class="smallicon hidelabel" ng-click="ToggleGames()"><img ng-src='img/games.png'><span ng-Tranny="'games'"></span></li>
		<li class="smallicon" ng-click="TogglePopup('.kinect_settings')" ng-show="kinect.available"><img ng-src='img/kinect.png'><span></span></li>
		<li class="smallicon hidelabel"><img ng-src='img/error.png'>
			
		</li>
	</ul>

	<ul class="center" ng-show="InGame">

		<span ng-show="ShowFavButton">
			<li class="bigicon hidelabel" ng-hide="IsCurrentServerFav" ng-click="ToggleServerFavorites( true )"><a href="#/"><img src='img/favourite_server.png'><span ng-Tranny="'favorite_this_server'"></span></a></li>
			<li class="bigicon hidelabel" ng-show="IsCurrentServerFav" ng-click="ToggleServerFavorites( false )"><a href="#/"><img src='img/favourite_server_del.png'><span ng-Tranny="'unfavorite_this_server'"></span></a></li>
		</span>
		<li class="bigicon" ng-click="BackToGame()"><a href="#/"><img src='img/back_to_game.png'><span ng-Tranny="'back_to_game'"></span></a></li>
		
		<li ng-click="Disconnect()"><a href="#/"><img src='img/disconnect.png'><span ng-Tranny="'disconnect'"></span></a></li>
		

	</ul>

</div>

<ul class="gamemode_list popup">
	<li ng-repeat="gm in Gamemodes|filter:{menusystem:true}|orderBy:'name'" ng-click="SelectGamemode( gm )">
		<img ng-src='../gamemodes/{{gm.name}}/icon24.png'><span>{{gm.title}}</span>
	</li>

</ul>

<ul class="language_list popup">
	<li  ng-repeat="lang in Languages" ng-click="SelectLanguage( lang )">
		<img ng-src='../resource/localization/{{lang}}.png'>
	</li>
</ul>

<ul class="games_list popup">

	<li class="notowned"><img src='img/notowned.png' width="16" height="16"> <span ng-Tranny="'game_not_owned'"></span></li>
	<li class="notinstalled"><img src='img/notinstalled.png' width="16" height="16"> <span ng-Tranny="'game_not_installed'"></span></li>
	<hr/>
	<li ng-repeat="game in Games|orderBy:'title'" class="{{IfElse( !game.owned, 'notowned', '' )}} {{IfElse( !game.installed, 'notinstalled', '' )}}">
		<input type=checkbox ng-model="game.mounted" ng-show="game.installed" ng-change="GameMountChanged( game )"/>
		<img src='img/notowned.png' ng-show="!game.owned" width="16" height="16">
		<img src='img/notinstalled.png' ng-show="game.owned && !game.installed" width="16" height="16">

		<span>{{game.title}}</span>
	</li>

</ul>

<ul class="kinect_settings popup">

	<li>
		<div>

			<p>
				<label style="display: block">
					<input type="checkbox" ng-model="kinect.show_color" ng-change="kinect.update()">  <span ng-Tranny="'motionsensor.showcolor'"></span>
				</label>
			</p>


			<div ng-show="kinect.show_color">

				<span ng-Tranny="'motionsensor.colorpos'"></span>

				<p style="margin-left: 5px;">
					<label ng-repeat="option in kinect.color_options" style="display: block">
						<input type="radio" name="kinect.color" ng-model="kinect.color" value="{{option}}" ng-change="kinect.update()">
						<span ng-Tranny="'motionsensor.showcolor.'+ option"></span>
					</label>
				</p>
			</div>

			<div  ng-show="kinect.show_color">
				<span ng-Tranny="'motionsensor.colorsize'"></span>

				<p style="margin-left: 5px;">
					<label ng-repeat="option in kinect.size_options" style="display: block">
						<input type="radio" name="kinect.color_size" ng-model="kinect.color_size" value="{{option}}" ng-change="kinect.update()">
						<span ng-Tranny="'motionsensor.colorsize.'+ option"></span>
					</label>
				</p>
			</div>

		</div>

	</li>

</ul>

</body>
</html>
