<div class="page" ng-controller="ControllerSettings">
    <div class="wrapper">
        <div class="topMenu">
            <p>Menu Settings</p>
        </div>
        <div class="middleMenu">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <div class="mc-button" style="min-width: 300px;" ng-click="changeZoom()">
                                <p>GUI Scale: {{zoom}}</p>
                            </div>
                        </td>
                        <td>
                            <div class="mc-button" style="min-width: 300px;">
                                <p>Placeholder</p>
                            </div>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                    <tr></tr>
                </tbody>
            </table>
        </div>
        <div class="bottomMenu">
            <div class="mc-button" style="min-width: 400px;">
                <a ng-href="#/settings/"><p">Done</p></a>
            </div>
        </div>
    </div>
</div>